<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<ul>
  <li><%= link_to "Help links", '#' %></li>
  <li><%= link_to "Terms of Use", '#' %></li>
  <li><%= link_to "Privacy Policy", '#' %></li>
  <li><%= link_to "Contact Form", '#' %></li>
  <li><%= link_to "Fact Sheet", faq_path %></li>

</ul>
