<% provide(:title, 'Help') %>
<h1>Help</h1>
  <div="Howto">
   <p>How to...</p>
</div>
<ul>
  <li><%= link_to "Create a profile", '#' %></li>
  <li><%= link_to "Create your listing", '#' %></li>
  <li><%= link_to "Modify your listing", '#' %></li>
  <li><%= link_to "Search for listings", '#' %></li>
  <li><%= link_to "Save your listing search", '#' %></li>
</ul>