<div class="center jumbotron">
  <h1>Robert's Real Estate</h1>
  <h2>
    The way real estate should be
      <br>
      <br>
      <br>
    <div class="home_search">
    <%= search_form_for @search do |f| %>

      <%= f.select :listing_type_cont, options_for_select(%w[Rent Buy], selected: 'Buy'), :include_blank => true %> 

      <%= f.text_field :address_or_city_cont, :placeholder => 'Enter Street Address OR City' %>

      <%= f.submit "Search Homes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  
  </h2>
</div>
<div class="home_signin">
  <% if signed_in? %>
	  <%= link_to "Post New Listing", listhouse_path, class: "btn btn-large btn-primary" %> 
  <% else %>
  	<%= link_to "Sign up now to list your home", signup_path, class: "btn btn-large btn-primary" %> 
  <br>
  <br>
  or <%= link_to "Sign In", signin_path %> if you already have an account
  <% end %>
  <h2>
    <div class= "home_quote">
    <br><br>
    The original idea of the web was that it should be a collaborative space where you can communicate through sharing information free of charge.
    <br><br>
    -Tim Berners-Lee, founder of the Internet.
    <div>
  </h3>
</div>
