<% provide(:title, 'Edit Listing') %>
<h1>Edit Listing</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@house) do |f| %>
      <%= render 'houses/error_messages' %>
  
      <%= f.hidden_field :picture_cache %>
      <%= f.file_field :picture %>

      <%= f.label :status %>
      <%= f.select :status, options_for_select(["Please, buy my home.", "Seeing what's out there.", "Make me an offer!"]) %>

      <%= f.label :street_address %>
      <%= f.text_field :address %>

      <%= f.label :city %>
      <%= f.text_field :city %>
      
      <%= f.label :state %>
      <%= f.select :state, options_for_select(%w[AL AK AZ AR CA CO CT DE FL GA HI ID IL IN IA KS KY LA ME MD MA MI MN MS MO MT NE NV NH NJ NM NY NC ND OH OK OR PA RI SC SD TN TX UT VT VA WA WV WI WY], selected: @house.state) %>

      <%= f.label :zip %>
      <%= f.number_field :zip, max: 99999 %>

      <%= f.label :county %>
      <%= f.text_field :county %>

      <%= f.label :year_built %>
      <%= f.number_field :year_built %>

      <%= f.label :beds %>
      <%= f.number_field(:beds, in: 0.0..9.0, step: 0.5) %> 

	    <%= f.label :baths %>
      <%= f.number_field(:baths, in: 0.0..9.0, step: 0.25) %> 

      <%= f.label :price %>
      <%= f.number_field :price %>

      <label>Size (e.g. 8,500 sqft)</label>
      <%= f.text_field :square_footage %>

      <label>Lot Size (e.g. 1.5 acres)</label>
      <%= f.text_field :lot_size %>

      <%= f.label :floors %>
      <%= f.select :floors, (1..5) %>

      <%= f.label :house_type %>
	    <%= f.select :house_type, options_for_select(%w[Single-Family Duplex Triplex Condo Townhouse Land Other]) %> 

	    <%= f.label :flooring %>
	    <%= f.select :flooring, options_for_select(%w[Carpet Hardwood Laminate Tile]) %> 

	    <%= f.label :fireplaces %>
      <%= f.select :fireplaces, (0..9) %>

	    <%= f.label :heating_type %>
	    <%= f.select :heating_type, options_for_select(%w[None Central]) %>

      <%= f.label :air_conditioning %>
	    <%= f.select :air_conditioning, options_for_select(%w[None Central]) %>

      <%= f.label :garage %>
	    <%= f.select :garage, options_for_select(%w[None Attached Separate]) %>

	    <%= f.label :basement %>
	    <%= f.select :basement, options_for_select(%w[No Yes]) %>

	    <%= f.label :attic %>
	    <%= f.select :attic, options_for_select(%w[No Yes]) %>  

	    <%= f.label :parking %>
      <%= f.text_field :parking %>

	    <%= f.label :appliances %>
      <%= f.text_field :appliances %>

      <%= f.label :owner_description %>
      <%= f.text_field :description %>

      <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
