<% provide(:title, 'Search Listings') %>
<h1>Search Listings</h1>

<%= search_form_for @search do |f| %>
<div class="row">
  <div class="span5">
  	<%= f.label :address_cont, "Street Address" %>
  	<%= f.text_field :address_cont %>

  	<%= f.label :city_cont, "City" %>
  	<%= f.text_field :city_cont %>

  	<%= f.label :zip_eq, "Zip" %>
  	<%= f.text_field :zip_eq %>

  </div>
</div>
<div class="form-inline">
    <%= f.label :price_gteq, "Price" %>
    <br>
    <%= f.text_field :price_gteq, :placeholder => 'Minimum Price' %>
  	<%= f.text_field :price_lteq, :placeholder => 'Maximum Price' %>
</div>
<br>
    <%= f.select :listing_type_cont, options_for_select(%w[Rent Buy]), :include_blank => true %> 

  <br>
  <%= f.submit "Search", class: "btn btn-medium btn-primary" %>
  </div>
</div>
<% end %>

<ul class="listings">
  <% @houses.each do |house| %>
    <li>
      <% if house.zip %>
      <%= link_to "#{house.address}, #{house.city}, #{house.state} #{'%05d' % house.zip}", house %>
      <% end %>
    </li>
  <% end %>
</ul>