<% provide(:title, @house.address) %>

<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">  
    <div class="rg-image-wrapper">
        {{if itemsCount > 1}}
            <div class="rg-image-nav">
                <a href="#" class="rg-image-nav-prev">Previous Image</a>
                <a href="#" class="rg-image-nav-next">Next Image</a>
            </div>
        {{/if}}
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-caption-wrapper">
            <div class="rg-caption" style="display:none;">
                <p></p>
            </div>
        </div>
    </div>
</script>


<h1><%= @house.address %></h1>
<p><center><%= @house.city %>, <%= @house.state %>  <%= "%05d" % @house.zip %></center></p>
<p><center><%= @house.status %>  Asking Price: $<%= number_with_delimiter(@house.price, :delimiter => ',') %></center></p>



<% if not @house.photos.present? %>
  <center><%= image_tag "http://maps.googleapis.com/maps/api/streetview?size=600x450&location=#{@house.address.split.join('+')},#{@house.city.split.join('+')}+#{@house.state}&fov=90&pitch=0" %></center>
<br>
<% else %>
  

  <div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
            <div class="es-nav">
                <span class="es-nav-prev">Previous</span>
                <span class="es-nav-next">Next</span>
            </div>
            <div class="es-carousel">
                <ul>
                    <% i = 0 %>
                    <% @house.photos.each do |photo| %>
                    <li>
                      <% i+=1 %>
                      <a href="#">

                            <img src='http://res.cloudinary.com/roberts-real-estate/image/upload/w_90,h_90,c_thumb/<%= photo.path %>' data-large='http://res.cloudinary.com/roberts-real-estate/image/upload/w_800,h_500,c_fit/<%= photo.path %>' alt="image02" data-description="Photo <%= i %>" /></a>

                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
    </div><!-- rg-thumbs -->
</div><!-- rg-gallery -->


<% end %>



<center>
  <% if signed_in? %>
    <div id="follow_form">
    <% if current_user.following?(@house) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
    </div>
  <% else %>
    <%= link_to "Sign Up or Sign In to favorite a home", signup_path, class: "btn btn-medium btn-primary" %> 
  <% end %>
</center>

<br>

<h3>Owner Description</h3>
<body><%= @house.description %></body>


<br><br>
<h3>Property Overview</h3>
<table class="table table-striped table-bordered table-condensed">
<tr>
  <td> Sq Ft: <%= number_with_delimiter((@house.square_footage).to_i, :delimiter => ',') %>  </td>
  <td>Lot Size: <%= @house.lot_size %> </td>		
  <td>Type: <%= @house.house_type %></td>
</tr>
<tr>
  <td><%= @house.beds %> bedrooms</td>
  <td>Built in <%= @house.year_built %></td>		
  <td>Heating: <%= @house.heating_type %></td>
</tr>
<tr>
  <td><%= @house.baths %> bathrooms</td>
  <td>Air Conditioning: <%= @house.air_conditioning %></td>		
  <td>Garage: <%= @house.garage %></td>
</tr>
<tr>
  <td>Attic: <%= @house.attic %></td>
  <td>Basement: <%= @house.basement %></td>		
  <td>Fireplaces: <%= @house.fireplaces %></td>
</tr>
<tr>
  <td>Flooring: <%= @house.flooring %></td>
  <td># of Floors: <%= @house.floors %></td>
  <td></td>		
</tr>
</table>
<table class="table table-striped table-bordered table-condensed">
  <tr>
  <td> Appliances: <%= @house.appliances %></td>
  </tr>
  <tr>
  <td> Parking: <%= @house.parking %></td>
</tr>
</table>
<body>
   <br><br>
  
</html>

<br><br>

<center><iframe
  width="600"
  height="450"
  zoom="19"
  maptype="satellite"
  frameborder="0" style="border:0"
  src=<%= "https://www.google.com/maps/embed/v1/place?key=AIzaSyBqejMuiEdMR24e-79FhVgQdOvzYHD0Low&q=#{@house.address.split.join('+')},#{@house.city.split.join('+')}+#{@house.state}" %>>
</iframe></center>
<br><br>

<h3>Contact the Owner</h3>
<% if signed_in? %>
  <%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="micropost-form">
      <%= f.text_area :content, placeholder: "Send a Message", :rows => 10 %>

      <%= f.hidden_field :user_id, :value => @house.user_id %>

      <%= f.hidden_field :sender_id, :value => current_user.id %>

      <%= f.hidden_field :unread, :value => true %>

    </div>
    <%= f.submit "Send Message", class: "btn btn-medium btn-primary" %>
  <% end %>
<% else %>
  <%= link_to "Sign up or Sign In to contact the owner", signup_path, class: "btn btn-medium btn-primary" %> 
<% end %>

<script src="assets/gallery.js"></script>

