<% provide(:title, @house.address) %>

<h1><%= @house.address %></h1>
<p><center><%= @house.city %>, <%= @house.state %>  <%= "%05d" % @house.zip %></center></p>
<p><center>Asking Price: $<%= number_with_delimiter(@house.price, :delimiter => ',') %></center></p>

<center><%= image_tag "http://maps.googleapis.com/maps/api/streetview?size=600x450&location=#{@house.address.split.join('+')},#{@house.city.split.join('+')}+#{@house.state}&fov=90&pitch=0" %></center>

<br><br>


<br>

<body><%= @house.description %></body>

<br><br>
<h3>Property Overview</h3>
<table class="table table-striped table-bordered table-condensed">
<tr>
  <td><%= @house.square_footage %> </td>
  <td>Lot Size: <%= @house.lot_size %> </td>		
  <td>Type: <%= @house.house_type %></td>
</tr>
<tr>
  <td><%= @house.beds %> bedrooms</td>
  <td>Built in <%= @house.year_built %></td>		
  <td>Heating: <%= @house.heating_type %></td>
</tr>
<tr>
  <td><%= @house.baths %> bathrooms</td>
  <td>Air Conditioning: <%= @house.air_conditioning %></td>		
  <td>Garage: <%= @house.garage %></td>
</tr>
<tr>
  <td>Attic: <%= @house.attic %></td>
  <td>Basement: <%= @house.basement %></td>		
  <td>Fireplaces: <%= @house.fireplaces %></td>
</tr>
<tr>
  <td>Flooring: <%= @house.flooring %></td>
  <td># of Floors: <%= @house.floors %></td>
  <td></td>		
</tr>
</table>
<body>
  Appliances: <%= @house.appliances %> <br><br>
  Parking: <%= @house.parking %>
</html>

<br><br>

<center><iframe
  width="600"
  height="450"
  zoom="19"
  maptype="satellite"
  frameborder="0" style="border:0"
  src=<%= "https://www.google.com/maps/embed/v1/place?key=AIzaSyBqejMuiEdMR24e-79FhVgQdOvzYHD0Low&q=#{@house.address.split.join('+')},#{@house.city.split.join('+')}+#{@house.state}" %>>
</iframe></center>

